[user]
  # Use 
  #   $ git config --global user.name "<fullname>"
  #   $ git config --global user.email "<primary email from the GitHub account>"
  #   
  # Use "--local" instead of "--global" for changes in local repos, not 
  # global git configuration. 
  # 

# After installing Meld
# $ git config --global diff.tool meld
# $ git config --global merge.tool meld
# $ git config --global --add difftool.prompt false

[credential]
	helper = osxkeychain

[alias]
    log1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    log2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !"git lg1"
