[user]
  # Use 
  #   $ git config --global user.name "<fullname>"
  #   $ git config --global user.email "<primary email from the GitHub account>"
  #   
  # Use "--local" instead of "--global" for changes in local repos, not 
  # global git configuration. 
  # 
  # To see the config settings above
  #   $ git config --global user.name
  #   $ git config --global user.email
  # `--local` or `--global` 
  # 

# $ git config --global core.editor "vim"

# Install Meld
#   $ brew cask install meld
# After installing Meld
#   $ git config --global diff.tool meld
#   $ git config --global merge.tool meld
#   $ git config --global --add difftool.prompt false
#
#   Show diff per words on the same line
#   $ git diff --color-words
#   
#   $ git diff --word-diff
#
# Stats for a user
#   $ git log --author="<emailAddress>" \--pretty=tformat: --numstat | awk '{ add += $1; subs += $2; loc += $1 - $2 } END { printf "added lines: %s, removed lines: %s, total lines: %s\n", add, subs, loc }' -
#

[credential]
	helper = osxkeychain

[alias]
    log1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    log2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !"git lg1"

